# All source code and general documentation
* @defenseunicorns/leapfrogai
* @justinthelaw

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred
